/* zerar padrões do navegador*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.z1{
    z-index: 1;
}
.z2{
    z-index: 2;
}
.z3{
    z-index: 3;
}
main{
    min-height: 90vh;
}
/*configuração do background*/
.bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../img/bg.jpg');
    top:0;
    left: 0;
}
.sombra{
    position:absolute;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0.85)20%, rgba(0,0,0,0.59) 45%, rgba(255,255,255,0) 100%);
    left: 0;
    top: 0;
}
.actions{
    position: relative;
}

/*config nav*/
#idioma{
    padding:6px 8px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    text-indent: 20px;
    width: 140px;
    float: left;
    margin-right: 20px;
}
#idioma option{
    /* color: black; */
    background: black;
}
.idIcon{
    position: absolute;
    left: 7px;
    top: 9px;
}

.netflix{
    font-family: 'Netflix',Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
.bold{
    font-weight: bold;
}
.em4{
    font-size: 4em;
}
.em1{
    font-size: 1em;
}

/*cadastro*/
.cadastro input{
    width: 65%;
    float: left;
    height: 70px;
    background-color: rgba(0,0,0,0.59);
    border-radius: 5px;
    color: #fff;
    margin-right: 10px;
}
.cadastro input:focus{
    background-color: rgba(0,0,0,0.59);
    border:3px solid #fff;
    color:#ffff;
}
.cadastro input::placeholder{
    color: #fff;
}
.cadastro button{
    padding:18px 10px;
}

.pd10{
    padding: 10px;
}